
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}

.title,
.subtitle {
              font-family: "Courier New", Courier, monospace;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
}

.home {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  background: linear-gradient(#0001, #0001), url(./images/reserva/cont1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2.4rem;
  align-items: center;
  padding-top: 70px;
}

.home .items .item {
  width: 100%;
  grid-column: span 2;
}

.home .items .item .content .title {
  font-size: 44px;
  font-weight: 500;
  color: #fff;
  text-shadow: 2px 0px 20px #3c3939;
}

.home .items .item .content .desc {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0rem;
}

.home .items .item .content .desc p {
  font-size: 18px;
  color: #eee;
  text-shadow: 2px 0px 20px #000000;
}

.home .items .item .content .buttons {
  width: 100%;
}

.home .items .item .content .btn {
  padding: 0.9rem 2.4rem;
  border: 2px solid #fff7;
  background-color: #000a;
  font-size: 14px;
  line-height: 14px;
  color: #eee;
  cursor: pointer;
  transition: all 1s;
}

.home .items .item .content .btn:hover {
  color: #fff;
  background-color: #000;
}

.home .items .item .box {
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  padding: 2rem 1rem;
  padding-bottom: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 2px 0px 20px #aaa;
  border-radius: 10px;
}

.home .items .item .box .line {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.home .items .item .box .line label {
  font-size: 15px;
  font-weight: 400;
}

.home .items .item .box .line .input {
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  border-radius: 15px;
  color: rgb(73, 52, 211);
  padding: 0.75rem 0.5rem;
  border: 1px solid #aaa;
  outline: none;
  transition: all 1s;
}

.home .items .item .box .line .input:hover {
  border: 1px solid rgb(47, 32, 147);
  color: #222;
}

.home .items .item .box .line .btn {
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #222;
  border-radius: 15px;
  padding: 0.75rem 0.5rem;
  border: 1px solid rgb(47, 32, 147);
  outline: none;
  cursor: pointer;
  transition: all 1s;
}

.home .items .item .box .line .btn:hover {
  color: #fff;
  border-color: rgb(47, 32, 147);
  background-color: rgb(47, 32, 147);
}
@media (max-width: 1050px) {
  .home .items .item:nth-child(1) {
    width: 100%;
    margin-top: 100vh;
    margin-bottom: 4rem;
  }

  .home .items .item .box {
    border: 1px solid #aaa;
    margin-top: 3rem;
  }

  .home .items .item .content .title {
    text-align: center;
  }

  .home .items .item .content .desc p {
    text-align: center;
  }

  .home .items .item .content .buttons {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 750px) {
  .home .items .item:nth-child(1) {
    width: 100%;
    margin-top: 100vh;
  }

  .home .items .item .box {
    border: 1px solid #aaa;
    margin-top: 3rem;
  }

  .home .items .item .content .title {
    text-align: center;
  }

  .home .items .item .content .subtitle {
    text-align: center;
  }

  .home .items .item .content .buttons {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
